{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./",
          "@": "./"
        },
        "extensions": [".vue", ".js"]
      }
    ]
  ]
}
