version: 2
jobs:
  build:
    docker:
      - image: cypress/base:12
        environment:
          ## this enables colors in the output
          TERM: xterm
    working_directory: ~/app
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - v1-deps-{{ .Branch }}
            - v1-deps
      - run:
          name: Install Dependencies
          command: yarn --ignore-engines
      - save_cache:
          key: v1-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache ## cache both npm and Cypress!
      - run:
          name: Run Unit Test
          command: yarn test:unit
      - run:
          name: Publish Test Result
          command: yarn coverage
